include ../button-rate/button-rate.pug
include ../room-carousel/room-carousel.pug

mixin card-room({ options, theme = '' })
  -
    const {
      src, 
      number, 
      type, 
      price, 
      starName, 
      rating, 
      reviewAmount,
      reviewWord
    } = options;

    const cardRoomClass = theme === ''
      ? 'card-room'
      : `card-room card-room_in_${ theme }`

  div(class = cardRoomClass)
    +room-carousel({
      pictures: src,
      names: `room ${ number }`
    })
    .card-room__info
      .card__row
        .card__group
          span.card-room__sign №
          span.card-room__number!= number
          span.card-room__type!= type 
        .card__group
          span.card-room__price!= `${ price }₽`
          span.card-room__period &nbsp;в сутки
      .card-room__rating
        .card-room__button-rate
          +button-rate({
            name: starName,
            rating: rating
          })
        .card__group
          span.card-room__price!= reviewAmount
          span.card-room__review!= reviewWord