
mixin donutChart(cData={})
  - var {exellent=0, good=0, satisfied=0, dissapointed=0} = cData
  - var donutData = {dissapointed, satisfied, good, exellent} 
  - var counter = 1;
  - var dashOffsetValue = parseInt(25);
  - var prevArraySumm = 0;

  figure.donut
    .donut__content
      svg.donut__img(width="100%" height="100%" viewbox="0 0 33 33" aria-labelledby="impression-title" role="img")
        defs
          lineargradient#gradient_disappointed
            stop(stop-color="#909090" offset="0%")
            stop(stop-color="#3D4975" offset="100%")
          lineargradient#gradient_satisfied(x1="0" y1="1" x2="0" y2="0")
            stop(stop-color="#BC9CFF" offset="0%")
            stop(stop-color="#8BA4F9" offset="100%")
          lineargradient#gradient_good
            stop(stop-color="#6FCF97" offset="0%")
            stop(stop-color="#66D2EA" offset="100%")
          lineargradient#gradient_exellent(x1="0" y1="1" x2="0" y2="0")
            stop(stop-color="#FFBA9C" offset="0%")
            stop(stop-color="#FFE39C" offset="100%")
        title#impression-title Впечатлeния от номера

        // img starts
        circle.donut__ring(cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke="#fff" stroke-width="1" role="presentation")
        each percent, mark in donutData
          if (percent>2)
            - var dashValue = parseInt(percent) - 1;
            - var dashLeft = 100 - dashValue;
            circle.donut__segment(cx="50%" cy="50%" r="15.91549430918954" fill="transparent" stroke=`url(#gradient_${mark})` stroke-width="1" stroke-dasharray=`${dashValue} ${dashLeft}` stroke-dashoffset=`${dashOffsetValue}` aria-labelledby=`donut-segment-${counter}-title`)
            title(id=`donut_segment-${counter++}-title` data-some= `${prevArraySumm}`)!= mark
            - prevArraySumm += dashOffsetValue;
            - dashOffsetValue = 100 - prevArraySumm + dashOffsetValue;
        // img end

      p.donut__text
        text.donut__number 260
        text.donut__label голосов
    figcaption.donut__caption
      ul.donut-key-list(aria-hidden="true" role="presentation")
        li
          span.li_circle.exellent
          | Великолепно
        li
          span.li_circle.good
          | Хорошо
        li
          span.li_circle.satisfied
          | Удовлетворительно
        li
          span.li_circle.disappointed
          | Разочарован