mixin dropdownCheckbox(dropdownTitleName, dropdownClassShow)
  .widget.container_medium
    .dropdown.reverse
      div(class="dropdown__content " + dropdownClassShow)
        .checkbox__content
          +checkboxExpandList()
      .dropdown__button_transparent.js-dropdown__init
        span.dropdown__title!= dropdownTitleName

mixin checkboxExpandList()
  +checkboxExpandItem("breakfast", false, "Завтрак")
  +checkboxExpandItem("desk", true, "Письменный стол")
  +checkboxExpandItem("feeding chair", true, "Стул для кормления")
  +checkboxExpandItem("baby bed", true, "Кроватка")
  +checkboxExpandItem("TV", false, "Телевизор")
  +checkboxExpandItem("shampoo", false, "Шампунь")

mixin checkboxExpandItem(checkboxName, ifChecked, checkboxTitle)
  label.checkbox_expand
    input(type="checkbox" name=checkboxName checked=ifChecked).checkbox__real
    span.checkbox__fake_expand
    span(class="checkbox__title_expand")= checkboxTitle

mixin richCheckboxButtons(checkboxName, containerText)
  .richcheckbox__container
    h3.label!= containerText
    +richCheckboxButtonItem(checkboxName, "wide corridor", "Широкий коридор", "Ширина коридоров в номере <br> не менее 91 см.")
    +richCheckboxButtonItem(checkboxName, "help for disabled", "Помощник для инвалидов", "На 1 этаже вас встретит специалист <br> и проводит до номера.")

mixin richCheckboxButtonItem(checkboxName, checkboxValue, checkboxTitle, checkboxSubtitle, checkboxSubtitle2)
  label.checkbox__button
    input(type="checkbox" name=checkboxName value=checkboxValue).checkbox__real
    span.checkbox__fake_expand
    div.checkbox__description
      span.checkbox__title_description!= checkboxTitle
      span.checkbox__subtitle_description!= checkboxSubtitle