mixin checkboxButtons (labelText, checkboxName="house-rules")
    .widget
        h3(class="label")= labelText 
        .buttons-checkbox
            +checkboxItem("smoking_allowed", checkboxName, false, "Можно курить")
            +checkboxItem("pets_allowed", checkboxName, true, "Можно с питомцами")
            +checkboxItem("guests_allowed", checkboxName, true, "Можно пригласить гостей (до 10 человек)")


mixin checkboxItem(valueText, inputName, ifChecked, checkboxTitle)
    label.checkbox 
        input(type="checkbox" value=valueText name=inputName checked=ifChecked).checkbox__real
        span.checkbox__fake
        span(class="checkbox__title")= checkboxTitle


//- .widget
//-     legend(for="rooms").label Сheckbox buttons
//-     .buttons-checkbox
//-         label(for="smoking_allowed").checkbox 
//-             input(type="checkbox" id="smoking_allowed" name="smoking" value="smoking_allowed").checkbox__real
//-             span.checkbox__fake
//-             span.checkbox__title Можно курить

//-         label(for="pets_allowed").checkbox 
//-             input(type="checkbox" id="pets_allowed" name="pets" value="pets_allowed").checkbox__real
//-             span.checkbox__fake
//-             span.checkbox__title Можно с питомцами

//-         label(for="guests_allowed").checkbox 
//-             input(type="checkbox" id="guests_allowed" name="guests" value="guests_allowed").checkbox__real
//-             span.checkbox__fake
//-             span.checkbox__title Можно пригласить гостей (до 10 человек)

