mixin bulletCheckboxList(containerText)
    - var list = [ "Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00" ]
    .widget
        .label!= containerText
        for item in list 
            +bulletCheckboxItem(item)

mixin bulletCheckboxItem(bulletTitle)
    label.bullet
        span.bullet__icon
        span.bullet__title!= bulletTitle


//- option 1
    mixin bulletCheckboxList(containerText, items)
        .widget
            div(class="label")= containerText
                for {itemName, itemTitle} in items
                    input(type="checkbox" name=itemName).bullet__real
                    span.bullet__fake
                    span(class="bullet__title")= itemTitle