mixin bulletCheckboxList(containerText)
    .widget
        .label!= containerText
        +bulletCheckboxItem("pets are not allowed", "Нельзя с питомцами")
        +bulletCheckboxItem("no party", "Без вечеринок и мероприятий")
        +bulletCheckboxItem("late check-in", "Время прибытия — после 13:00, а выезд до 12:00")



mixin bulletCheckboxItem(bulletName, bulletTitle)
    label.bullet
        input(type="checkbox" name=checkboxName).bullet__real
        span.bullet__fake
        span.bullet__title!= bulletTitle


//- a variation

    mixin bulletCheckboxList(containerText, items)

        .widget
            div(class="label")= containerText
                for {itemName, itemTitle} in items
                    input(type="checkbox" name=itemName).bullet__real
                    span.bullet__fake
                    span(class="bullet__title")= itemTitle