mixin buttonsRadioContainer(legendText, ifCheckedMan, ifCheckedWoman)
    .radio_box
        legend.label(for="gender")= legendText
        +buttonsRadio(ifCheckedMan, ifCheckedWoman)
            

mixin buttonsRadio(ifCheckedMan, ifCheckedWoman)
    .radio_row
        +buttonsRadioItem(ifCheckedMan, "Мужчина")
        +buttonsRadioItem(ifCheckedWoman, "Женщина")


mixin buttonsRadioItem(ifChecked, buttonTitle)
    label(for=inputId).radio__element
            input(type="radio" name="gender" value=inputId checked=ifChecked).radio__real 
            span.radio__fake
            span(class="radio__title")= buttonTitle

//-.radio_box
//-     legend(for="gender").label Radio buttons
//-     .radio_row
//-         label(for="man").radio__element
//-             input(type="radio" name="gender" id="man" value="man").radio__real
//-             span.radio__fake
//-             span.radio__title Мужчина

//-         label(for="woman").radio__element
//-             input(type="radio" name="gender" id="woman" value="woman").radio__real 
//-             span.radio__fake
//-             span.radio__title Женщина
