mixin buttonContainer()
  .buttons__container
    h3.buttons__label Buttons
    .buttons__row
      +buttonItem("button_filled", "Click me")
      +buttonItem("button_filled", "Click me")
      +buttonFormLink("Click me")
      +buttonFormLink("Click me")
    .buttons__row
      +buttonItem("button_clear", "Click me")
      +buttonItem("button_clear", "Click me")
    .buttons__row
      +buttonFormSubmit("Перейти к оплате")


//- mixins for form-buttons
mixin buttonFormLink(buttonText, buttonOnclick="./some-address")
  div(class="button_filled")
    a(class="button_filled_inner" href= buttonOnclick)= buttonText


mixin buttonFormSubmit(buttonText)
  button(class="button_submit" type="submit")= buttonText


//- mixins for link-buttons
mixin buttonLink(buttonText="", buttonOnclick="./some-address")
  div(class="button_linked")
    a(class="button_linked_inner" href= buttonOnclick)= buttonText


mixin buttonBiglink(buttonText="", buttonOnclick="./some-address")
  a(class="button_linked_big" href= buttonOnclick)= buttonText


mixin buttonNavLink(buttonText="", buttonOnclick="./some-address")
  a(class="button_clear" href= buttonOnclick)= buttonText


//- basic mixin for buttons
mixin buttonItem(buttonClass, buttonText)
  button(class="" + buttonClass)= buttonText
