
mixin buttonContainer()
  .button-container
    h3.label Buttons
    .button-row
      +buttonItem("button_filled", "Click me")
      +buttonItem("button_filled", "Click me")
      +buttonFormLink("Click me", "")
      +buttonFormLink("Click me", "")
    .button-row
      +buttonItem("button_clear", "Click me")
      +buttonItem("button_clear", "Click me")
    .button-row
      +buttonFormSubmit("Перейти к оплате")
            

//- mixins for form-buttons

mixin buttonFormLink(buttonText, buttonOnclick="/some-adress")
  div(class="button_filled")
    a(class="button_filled_inner" href= buttonOnclick)= buttonText

mixin buttonFormSubmit(buttonText, buttonOnclick="/some-adress")
  button(class="button_submit" type="submit" href= buttonOnclick)= buttonText


//- mixins for link-buttons

mixin buttonLink(buttonText="", buttonOnclick="/some-adress")
  div(class="button_link")
    a(class="button_link_inner" href= buttonOnclick)= buttonText

mixin buttonBiglink(buttonText="", buttonOnclick="/some-adress")
  a(class="button_link_big" href= buttonOnclick)= buttonText
        
mixin buttonNavLink(buttonText="", buttonOnclick="/some-adress")
  a(class="button_clear" href= buttonOnclick)= buttonText


//- basic mixin for buttons

mixin buttonItem(buttonClass, buttonText)
  button(class="" + buttonClass)= buttonText



