mixin buttonRateContainer(labelText)
  h3(class="label")= labelText
  .row
    +buttonRate("star-5", "star-4", "star-3", "star-2", "star-1", "rating", false, true)
    +buttonRate("star2-5", "star2-4", "star2-3", "star2-2", "star2-1", "rating2", true)

mixin buttonRate(inputId_5, inputId_4, inputId_3, inputId_2, inputId_1, inputName, ifChecked_5, ifChecked_4, ifChecked_3, ifChecked_2, ifChecked_1) 
  .button-rate
    +buttonRateItem(inputId_5, inputName, 5, ifChecked_5)
    +buttonRateItem(inputId_4, inputName, 4, ifChecked_4)
    +buttonRateItem(inputId_3, inputName, 3, ifChecked_3)
    +buttonRateItem(inputId_2, inputName, 2, ifChecked_2)
    +buttonRateItem(inputId_1, inputName, 1, ifChecked_1)

mixin buttonRateItem(inputId, inputName, inputValue, ifChecked=false)
  input(type="radio" id=inputId name=inputName value=inputValue checked=ifChecked).input_rate
  label(for=inputId).input_label