mixin button-rate__item(inputId, inputName, inputValue, ifChecked=false)
  input(type="radio" id=inputId name=inputName value=inputValue checked=ifChecked).button-rate__real
  label(for=inputId).button-rate__fake