include ../date-range-dropdown/_date-range-dropdown.pug
include ../dropdown-guests/_dropdown-guests.pug
include ../button/_button.pug

mixin cardBooking()
  form.card-booking(method="get", target="_parent", action="/search-room")
    +bookingText("big", "888", "Люкс", "9 990")
    +dateRangeSeparate("calendar_booking", "Прибытие", "19.08.2019", "Выезд", "23.08.2019", "")
    +dropdownGuestsLabeled("Гости", "", "dropdown_guests_booking", "", "dropdownGuestsInput_4")
    +bookingInfoItem("9 990₽ х 4 суток", "39 960")
    +bookingInfoItem("Сбор за услуги: скидка 2 179₽", "0", true)
    +bookingInfoItem("Сбор за дополнительные услуги", "300", true)
    +bookingTotalPrice("38 081₽")
    +buttonFormSubmit("Забронировать")


mixin bookingTotalPrice(totalPrice)
  .booking-total__row
    .booking-total__text Итого
    .booking-total__line
    .booking-total__price 38 081₽


mixin bookingInfoItem(infoDesctiption, infoPrice, infoSign = false)
  if infoSign
    .booking-info__row
      .booking-info__description!= infoDesctiption
      .booking-info__sign
      .booking-info__price!= infoPrice + "₽"
  else 
    .booking-info__row
      .booking-info__description!= infoDesctiption
      .booking-info__price!= infoPrice + "₽"


mixin bookingText(rowSize, bookingNumber, bookingType, bookingPrice)
  if rowSize === "big"
    .booking-text__row
      .booking-text__left
        span.booking-text__sign №
        span.booking-text__number!= bookingNumber  
        span.booking-text__type!= bookingType
      .booking-text__right
        span.booking-text__price!= bookingPrice + "₽"
        span.booking-text__period &nbsp;в сутки
  else
    .card-text__row_small
      .card-text__row_left
        span.card-text__sign №
        span.card-text__number!= bookingNumber
        span.card-text__type!= bookingType 
      .card-text__row_right
        span.card-text__price!= bookingPrice + "₽"
        span.card-text__period &nbsp;в сутки
