mixin card-booking__text(rowSize, bookingNumber, bookingType, bookingPrice)
  if rowSize === "big"
    .booking-text__row
      .booking-text__left
        span.booking-text__sign №
        span.booking-text__number!= bookingNumber  
        span.booking-text__type!= bookingType
      .booking-text__right
        span.booking-text__price!= bookingPrice + "₽"
        span.booking-text__period &nbsp;в сутки
  else
    .card-text__row_small
      .card-text__row_left
        span.card-text__sign №
        span.card-text__number!= bookingNumber
        span.card-text__type!= bookingType 
      .card-text__row_right
        span.card-text__price!= bookingPrice + "₽"
        span.card-text__period &nbsp;в сутки