
mixin dropdownGuestsLabeled (labelId, labelText, labelRightClass, labelRightText, dropdownGuestsId, dropdownClassShow, inputId)
    .widget
        label(for=labelId class="label")= labelText
        span(class="" + labelRightClass)= labelRightText
        + dropdownGuestsItems(dropdownGuestsId, dropdownClassShow, inputId)


mixin dropdownRoomsLabeled (labelId, labelText, labelRightClass, labelRightText, dropdownRoomsId, inputId)
    .widged
        label(for=labelId class="label")= labelText
        span(class="" + labelRightClass)= labelRightText
        +dropdownItemsRooms (dropdownRoomsId, inputId)


mixin dropdownGuestsItems (dropdownGuestsId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownGuestsId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='' id=inputId)
    div(class="dropdown__guests " + dropdownClassShow)
        +dropdownItem("grownups", "Взрослые")
        +dropdownItem("kids", "Дети")
        +dropdownItem("infants", "Младенцы")
        .dropdown__buttons
            button.button__button_submit.button__show(type='submit') Применить
            button.button__button_reset(type='reset') Очистить



mixin dropdownItemsRooms (dropdownRoomsId, inputId)
    div(class="dropdown" id=dropdownRoomsId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='' value='' id=inputId)
    .dropdown__rooms
        +dropdownItem("bedrooms", "Спальни")
        +dropdownItem("beds", "Кровати")
        +dropdownItem("bathrooms", "Ванные комнаты")



mixin dropdownItem (itemDataType, itemText)
    .dropdown__expandedItem(data-guesttype=itemDataType)
        div(class="dropdown__text")= itemText
        .dropdown__minus  - 
        .dropdown__number(data-order='0')  0 
        .dropdown__plus  +
