mixin card-room__info(bookingNumber, bookingType, bookingPrice, theme="")
  if theme == ""
    .card__row
      .card__row_small
        span.card-room__sign №
        span.card-room__number!= bookingNumber
        span.card-room__type!= bookingType 
      .card__row_small
        span.card-room__price!= bookingPrice + "₽"
        span.card-room__period &nbsp;в сутки
  else
    .card__row
      .card__row_small
        span(class="card-room__sign" + "_" + theme) №
        span(class="card-room__number" + "_" + theme)= bookingNumber
        span(class="card-room__type" + "_" + theme)= bookingType 
      .card__row_small
        span(class="card-room__price")= bookingPrice + "₽"
        span(class="card-room__period" + "_" + theme) &nbsp;в сутки