mixin dropdownGuestsLabeled(labelText, labelRightText = "", dropdownContainerId, dropdownClassShow, inputId)
  .dropdown__container
    h3.label!= labelText
    h3.label_right!= labelRightText
    +dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)

mixin dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)
  div(class="dropdown" id=dropdownContainerId)
    div(class="dropdown__content js-dropdown__content dropdown__guests js-dropdown__guests " + dropdownClassShow)
      +dropdownItem("grownups", "Взрослые", 0)
      +dropdownItem("kids", "Дети", 1)
      +dropdownItem("infants", "Младенцы", 2)
      .dropdown__buttons
        button.dropdown__button_submit.button__show(type='submit') Применить
        button.dropdown__button_reset(type='reset') Очистить
    .dropdown__info.js-dropdown__init
      input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' name="guests" value='' id=inputId)

mixin dropdownItem (itemDataType, itemText, itemDataOrder)
  .dropdown__item_expanded(data-type=itemDataType)
    .dropdown__text!= itemText
    .dropdown__minus.button_disabled - 
    .dropdown__number(data-order=itemDataOrder)  0 
    .dropdown__plus  +
