include ../../calendar/calendar.pug

mixin date-range_separate({ inputValue_1="", inputValue_2="", classShow = "" })
  div.date-range.js-date-range
    div(
      class=`date-range__calendar js-date-range__calendar js-expand__content ${ 
        classShow }`)
      +calendar()
    .date-range__selector.js-expand__init
      .date-range__item.date-range__item_separate
        h3.date-range__label!= "Прибытие"
        .date-range__info
          input(
            class= "date-range__input" 
            type= "text" 
            value= inputValue_1
            name= "checkin"
            placeholder= "ДД.ММ.ГГГГ"
            maxlength= 10
            data-range= "checkin"
            readonly)
      .date-range__item.date-range__item_separate
        h3.date-range__label!= "Выезд"
        .date-range__info
          input(
            class= "date-range__input" 
            type= "text" 
            value= inputValue_2
            name= "checkout"
            placeholder= "ДД.ММ.ГГГГ"
            maxlength= 10
            data-range= "checkout"
            readonly)