mixin dropdownCheckbox(dropdownTitleName, dropdownClassShow)
    .widget.container_medium
        div(class="dropdown reverse")
            div(class="dropdown__content " + dropdownClassShow)
                div(class="checkbox__content")
                    +checkboxExpandList()
            .dropdown__button_transparent.dropdown__init
                span.dropdown__title!= dropdownTitleName

mixin checkboxExpandList()
    +checkboxExpandItem("breakfast", false, "Завтрак")
    +checkboxExpandItem("desk", true, "Письменный стол")
    +checkboxExpandItem("feeding chair", true, "Стул для кормления")
    +checkboxExpandItem("baby bed", true, "Кроватка")
    +checkboxExpandItem("shampoo", false, "Шампунь")
    +checkboxExpandItem("TV", false, "Телевизор")
    +checkboxExpandItem("shampoo 2", false, "Шампунь")

mixin checkboxExpandItem(checkboxName, ifChecked, checkboxTitle)
    label.checkbox
            input(type="checkbox" name=checkboxName checked=ifChecked).checkbox__real
            span.checkbox__fake
            span(class="checkbox__title")= checkboxTitle



mixin richCheckboxButtons(checkboxName, containerText)
    .widget
        .label!= containerText
        +richCheckboxButtonItem(checkboxName, "wide corridor", "Широкий коридор", "Ширина коридоров в номере <br> не менее 91 см.")
        +richCheckboxButtonItem(checkboxName, "help for disabled", "Помощник для инвалидов", "На 1 этаже вас встретит специалист <br> и проводит до номера.")


mixin richCheckboxButtonItem(checkboxName, checkboxValue, checkboxTitle, checkboxSubtitle, checkboxSubtitle2)
    label.checkbox_button
        input(type="checkbox" name=checkboxName value=checkboxValue).checkbox__real
        span.checkbox__fake
        div.checkbox__description
            span.checkbox__title_description!= checkboxTitle
            span.checkbox__subtitle_description!= checkboxSubtitle



//- .widget.container_medium
//-     form
//-         .dropdown__button_transparent
//-             span.checkbox__title_checked Expandable checkbox list    
//-         .dropdown__content_transparent
//-             label.checkbox
//-                 input(type="checkbox" name="value-01").checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Завтрак
//-             label.checkbox
//-                 input(type="checkbox" name="value-02" checked).checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Письменный стол
//-             label.checkbox
//-                 input(type="checkbox" name="value-03" checked).checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Стул для кормления
//-             label.checkbox
//-                 input(type="checkbox" name="value-04" checked).checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Кроватка
//-             label.checkbox
//-                 input(type="checkbox" name="value-05").checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Телевизор
//-             label.checkbox
//-                 input(type="checkbox" name="value-06").checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Шампунь
//-             label.checkbox
//-                 input(type="checkbox" name="value-07").checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Телевизор
//-             label.checkbox
//-                 input(type="checkbox" name="value-08").checkbox__real
//-                 span.checkbox__fake
//-                 span.checkbox__title Шампунь