mixin buttons-radio__item(inputId, ifChecked, buttonTitle)
  label(for=inputId).radio__item
    input(type="radio" name="gender" id=inputId value=inputId checked=ifChecked).radio__real
    if buttonTitle == "Мужчина"
      span.radio__fake_type_male
    else
      span.radio__fake
    span(class="radio__title")= buttonTitle