mixin social-nets(theme = "")
  if theme === ""
    .social-net
      a(href="https://www.twitter.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="social-net__itemsocial-net__twitter")
      a(href="https://www.facebook.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="social-net__itemsocial-net__facebook")
      a(href="https://www.instagram.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class="social-net__itemsocial-net__instagram")
  else
    .social-net
      a(href="https://www.twitter.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class=`social-net__itemsocial-net__twitter social-net__twitter_in-${theme}`)
      a(href="https://www.facebook.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class=`social-net__itemsocial-net__facebook social-net__facebook_in-${theme}`)
      a(href="https://www.instagram.com/" 
        target="_blank" 
        rel="noopener noreferrer" 
        class=`social-net__itemsocial-net__instagram social-net__instagram_in-${theme}`)
    