include ../calendar/calendar.pug

mixin date-range_common(calendarId, labelText, inputValue, dropdownClassShow, theme="")
  div.date-range__selector.js-date-range__selector
    div(class="dropdown__calendar js-dropdown__calendar js-expand__content" + dropdownClassShow)
      +calendar(calendarId)
    .date-range__container_common.js-expand__init
      h3.date-range__label!= labelText
      if theme == ""
        .date-range__info
          input(class="date-range__input" type="text" value=inputValue 
          name="checkin-checkout" placeholder="ДД.ММ - ДД.ММ"
          maxlength="15" data-range="date-range" readonly)
      else
        div(class="date-range__info" + "_" + theme)
          input(class="date-range__input" type="text" value=inputValue 
          name="checkin-checkout" placeholder="ДД.ММ - ДД.ММ"
          maxlength="15" data-range="date-range" readonly)