mixin date-range__item(labelText, inputName, inputValue, dateDataType)
  .date-range__item-container
    h3.date-range__label!= labelText
    .date-range__info
      input(class="date-range__input" type="text" value=inputValue 
      name=inputName placeholder="ДД.ММ.ГГГГ"
      maxlength="10" data-range=dateDataType readonly)