mixin checkbox
  - var { houseRules } = require("Components/checkbox/checkbox.json");
  fieldset.checkbox
    each houseRule in houseRules
      label.checkbox__item
        input(
          type="checkbox"
          value= houseRule.valueText
          name= houseRule.inputName
          checked= houseRule.ifChecked).checkbox__real
        span.checkbox__fake
        span.checkbox__title!= houseRule.checkboxTitle