mixin room-carousel({ roomPictures, nameForPictures })
  - var modPrev = 'prev';
  - var modNext = 'next'
  - var classButton = 'room-carousel__button';
  - var classRadioReal = 'room-carousel__radio-real';
  - var classButtonPrev = `${ classButton }_${ modPrev }`;
  - var classButtonNext = `${ classButton }_${ modNext }`;
  - var carouselRealClass = `${ classRadioReal } js-${ classRadioReal }`;
  - var counter = 1;

  .room-carousel.js-room-carousel
    .room-carousel__radio.js-room-carousel__radio 
      for picture in roomPictures
        label.room-carousel__element
          if counter === 1
            input(
              type = 'radio' 
              checked = 'checked' 
              name = nameForPictures 
              value = `picture_${ counter++ }`
              class = carouselRealClass)
          else
            input(
              type = 'radio' 
              name = nameForPictures 
              value = `picture_${ counter++ }`
              class = carouselRealClass)
          span.room-carousel__radio-fake
    .room-carousel__pictures.js-room-carousel__pictures
      for picture in roomPictures
        .room-carousel__pic
          img(
            src = picture 
            alt = 'room pictures').room-carousel__img
    .room-carousel__buttons
      div(class = `${ classButton } ${ classButtonPrev } js-${ classButtonPrev }`)
      div(class = `${ classButton } ${ classButtonNext } js-${ classButtonNext }`)