mixin room-carousel({ roomPictures, nameForPictures })
  - let counter = 1;
  .room-carousel.js-room-carousel
    .room-carousel__radio.js-room-carousel__radio 
      for picture in roomPictures
        label.room-carousel__element
          if counter === 1
            input(
              type="radio" 
              checked="checked" 
              name=nameForPictures 
              value=`picture_${ counter++ }`).room-carousel__radio-real.js-room-carousel__radio-real
          else
            input(
              type="radio" 
              name=nameForPictures 
              value=`picture_${ counter++ }`).room-carousel__radio-real.js-room-carousel__radio-real
          span.room-carousel__radio-fake
    .room-carousel__pictures.js-room-carousel__pictures
      for picture in roomPictures
        .room-carousel__pic
          img(
            src= picture 
            alt="room pictures").room-carousel__img
    .room-carousel__buttons
      .room-carousel__button.room-carousel__button_prev.js-room-carousel__button_prev
      .room-carousel__button.room-carousel__button_next.js-room-carousel__button_next