include ../logo/logo.pug
include ../navlink/navlink.pug
include ../social-nets/social-nets.pug
include ../textfield/textfield.pug

mixin footer(theme = 'main')
  - 
    var { 
      footerText,
      footerTextSubscription,
      footerGroups
    } = require('Components/footer/footer.json');
  - 
    var classCopyright = theme === 'main'
      ? 'footer__basement' 
      : `footer__basement footer__basement_in_${ theme }`;
  -
    var classNavbar = theme === 'main'
      ? 'footer__navbar' 
      : `footer__navbar footer__navbar_in_${ theme }`;
  - 
    var classInfo = theme === 'details' 
      ? `footer__info footer__info_in_${ theme }` 
      : 'footer__info';
  
  - 
    var classFooterLogo = theme === 'landing' | theme === 'sign-in'
      ? `footer__logo footer__logo_in_${ theme }`
      : 'footer__logo';

  footer.footer
    .footer__main
      div(class = classNavbar)
        div(class = classFooterLogo)
          +logo()
          .footer__text!= footerText
        div(class = classInfo)
          for footerGroup in footerGroups
            div(class = `footer__${ footerGroup.name }`)
              h3.footer__title!= footerGroup.text
              ul.footer__links
                for item in footerGroup.items
                  +navlink({
                    buttonLinkText: item.name,
                    onClick: item.link,
                    modifier: 'footer'
                  })
        .footer__subscription
          h3.footer__title Подписка
          p.footer__special-offer!= footerTextSubscription
          form.footer__form.js-footer__form(
            method = 'get' 
            action = './registration.html')
            +textfield({ 
              inputClass: 'subscribe',
              placeholder: 'Email',
              nameText: 'email',
            })
    div(class = classCopyright)
      .footer__basement-text Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social-nets
        +social-nets(theme)