include ../logo/logo.pug
include ../navlink/navlink.pug
include ../social-nets/social-nets.pug
include ../textfield/_type/_subscribe/textfield_type_subscribe.pug

mixin footer({ theme="main" })
  - 
    var { 
      footerText,
      footerTextSubscription,
      footerGroups
    } = require("Components/footer/footer.json");
  - 
    var footerCopywriteClass = theme === "main"
      ? "footer__basement" : `footer__basement footer__basement_in-${ theme }`
  -
    var footerNavbarClass = theme === "main"
      ? "footer__navbar" : `footer__navbar footer__navbar_in-${ theme }`
  - 
    var infoVisibleClass = theme === "details" 
      ? `footer__info footer__info_in-${ theme }` : "footer__info"

  footer.footer
    div(class= footerNavbarClass)
      if theme === "landing"
        div(class=`footer__logo footer__logo_in-${ theme }`)
          +logo()
          .footer__text!= footerText
      else if theme === "signin"
        div(class=`footer__logo footer__logo_in-${ theme }`)
          +logo()
          .footer__text!= footerText
      else
        div(class=`footer__logo`)
          +logo()
          .footer__text!= footerText
      div(class= infoVisibleClass)
        for footerGroup in footerGroups
          div(class=`footer__${ footerGroup.name }`)
            h3.footer__title!= footerGroup.text
            ul.footer__links
              for item in footerGroup.items
                +navlink({
                  buttonText: item.name,
                  onClick: item.link,
                  modificator: "footer"
                })
      .footer__info-hidden
        for footerGroup in footerGroups
          div(class=`footer__${ footerGroup.name }`)
            h3.footer__title.js-expand__init!= footerGroup.text
            ul.footer__dropdown.js-expand__content
              for item in footerGroup.items
                +navlink({ 
                  buttonText: item.name, 
                  onClick: item.link
                })
      .footer__subscription
        h3.footer__title Подписка
        p.footer__special-offer!= footerTextSubscription
        form.footer__form.js-footer__form(
          method="get" 
          action="./registration.html")
          +textfield_type_subscribe()
    div(class= footerCopywriteClass)
      .footer__basement-text Copyright © 2018 Toxin отель. Все права защищены.
      .footer__social-nets
        +social-nets(theme)