include ../logo/logo.pug
include ../navlink/navlink.pug
include ../social-nets/social-nets.pug
include ../textfield/textfield.pug

mixin footer({ theme = '', title = 'Подписка', copyright = 'Copyright © 2018 Toxin отель. Все права защищены.' })
  - 
    const { 
      footerText,
      footerTextSubscription,
      footerGroups
    } = require('Components/footer/footer.json');

    const classFooter = theme === ''
      ? 'footer'
      : `footer footer_in_${ theme }`

  footer(class = classFooter)
    .footer__main
      .footer__navbar
        .footer__logo
          +logo()
          .footer__text!= footerText
        .footer__info
          for footerGroup in footerGroups
            div(class = `footer__${ footerGroup.name }`)
              h3.footer__title!= footerGroup.text
              ul.footer__links
                for item in footerGroup.items
                  +navlink({
                    text: item.name,
                    onClick: item.link,
                    modifier: 'footer'
                  })
        .footer__subscription
          h3.footer__title!= title
          p.footer__special-offer!= footerTextSubscription
          form.footer__form.js-footer__form(
            method = 'get' 
            action = './registration.html')
            +textfield({ 
              modifier: 'subscribe',
              placeholder: 'Email',
              name: 'email',
            })
    .footer__basement
      .footer__basement-text!= copyright
      .footer__social-nets
        +social-nets(theme)