//- mixins for formElements (with labels)

mixin nameContainer(labelText, labelRightText, valueText)
    .widget
        +label(labelText, labelRightText)
        +name(valueText)

mixin surnameContainer(labelText, labelRightText, valueText)
    .widget
        +label(labelText, labelRightText)
        +surname(valueText)

mixin birthdayContainer(labelText, labelRightText)
    .widget
        +label(labelText, labelRightText)
        +birthday()

mixin emailContainer(labelText, labelRightText)
    .widget
        +label(labelText, labelRightText)
        +email()

mixin emailSubscribeContainer(labelText, labelRightText)
    .widget
        +label(labelText, labelRightText)
        +emailSubscribe()

mixin loginContainer(labelText, labelRightText)
    .widget
        +label(labelText, labelRightText)
        +login()
        //- +email()
        //- .margin__top_10
        //- +password()


//-mixins without labels
mixin login()
    .textfield_login
        +email()
        +password()


mixin name(valueText="")
    +text("textfield", "Имя", valueText, "name", "20", autofocus=false)

mixin surname(valueText="")
    +text("textfield", "Фамилия", valueText, "surname", "20", autofocus=false)

mixin birthday()
    +text("textfield_birthday", "ДД.ММ.ГГГГ", "", "birthday", "10", autofocus=false)

mixin email()
    +text("textfield", "Email", "", "email", "30", autofocus=false)

mixin emailSubscribe()
    +text("textfield_email", "Email", "", "email", "30", autofocus=false)

mixin password()
    +text("textfield", "Пароль", "", "password", "30", autofocus=false)



//-mixins basic

mixin label(labelText, labelRightText)
    h3.label!= labelText
    h3.label_right= labelRightText

mixin text(inputClass, placeholder, valueText, nameText, maxText, autofocus=false)
    if inputClass === "textfield_email"
        div(class="textfield")
            input(type="text" placeholder=placeholder, 
                value=valueText name=nameText data-rule=nameText, 
                maxlength=maxText autofocus=autofocus)
            button(type="submit" class="arrow_submit") arrow_forward
        .error
    else
        div(class="" + inputClass)
            input(type="text" placeholder=placeholder, 
                value=valueText name=nameText data-rule=nameText, 
                maxlength=maxText autofocus=autofocus)
        .error



//- mixin textInput (inputId, labelText, labelRightClass, labelRightText, inputClass, placeholder, rule, autofocus=false, maxlength)
//-     .widget
//-         h3.label!= labelText
//-         span(class="" + labelRightClass)= labelRightText
//-         div(class="" + inputClass)
//-             input(type="text" placeholder=placeholder, 
//-                 value="" name=inputId data-rule=rule autofocus=autofocus,
//-                 maxlength=maxlength)
//-         .error


//- .widget
//-     label(for="text").label Text field
//-     h3.label_right default
//-     .textField
//-         input(type="text" id="text" placeholder="Email" 
//-             value="" name="textField" data-rule="email")
//-     .error


//- textFieldSubscription
//- .widget
//-     h3(for="email").label SUBSCRIPTION TEXT FIELD
//-     .input_email
//-         input(type="email" placeholder="Email" value="" 
//-                 name="email" data-rule="email")
//-     .error


//- textFieldMasked
//- .widget
//-     label(for="birthday").label Masked text field
//-     .textField_masked
//-         input(type="text" value="" id="birthday" 
//-         name="birthday" placeholder="ДД.ММ.ГГГГ" 
//-         masked="true" maxlength="10" 
//-         data-rule="birthday")
//-     .error


//- textFieldFocused
//- .widget
//-     label(for="textFieldFocused").label Text field
//-     h3.label_right hover / focused
//-     .textField
//-         input(type="text" id="textFieldFocused" 
//-         placeholder="This is awesome" 
//-         value="" name="textFieldFocused" autofocus)