mixin dropdown-item({ itemDataType, itemText, itemDataOrder, itemNumber = 0, itemClass = '' })
  - var modificationLast = 'last';

  - var elementDropdown = 'dropdown-item';
  - var classDropdown = `${ elementDropdown } js-${ elementDropdown }`
  - var classDropdownLast = `${ elementDropdown } js-${ elementDropdown } ${ elementDropdown }_${ modificatorLast }`

  - var elementDropdownMinus = 'dropdown-item__minus';
  - var classDropdownMinus = `${ elementDropdownMinus } js-${ elementDropdownMinus }`
  - var classDropdownMinusLast = `${ elementDropdownMinus } js-${ elementDropdownMinus } ${ elementDropdownMinus }_${ modificatorLast }`

  - var elementDropdownPlus = 'dropdown-item__plus';
  - var classDropdownPlus = `${ elementDropdownPlus } js-${ elementDropdownPlus }`;
  - var classDropdownPlusLast = `${ elementDropdownPlus } js-${ elementDropdownPlus } ${ elementDropdownPlus }_${ modificatorLast }`;

  - var elementDropdownNumber = 'dropdown-item__number';
  - var classDropdownNumber = `${ elementDropdownNumber } js-${ elementDropdownNumber }`;
  - var classDropdownNumberLast = `${ elementDropdownNumber } js-${ elementDropdownNumber } ${ elementDropdownNumber }_${ modificatorLast }`;

  - var elementDropdownText = 'dropdown-item__text';
  - var classDropdownText = `${ elementDropdownText } js-${ elementDropdownText }`;
  - var classDropdownTextLast = `${ elementDropdownText } js-${ elementDropdownText } ${ elementDropdownText }_${ modificatorLast }`;
  
  if itemClass === ''
    div(
      class = classDropdown 
      data-type = itemDataType)
      div(class = elementDropdownText)= itemText
      div(class = classDropdownMinus) - 
      div(class = classDropdownNumber data-order = itemDataOrder)
        != itemNumber
      div(class = classDropdownPlus) +
  else
    div(
      class = classDropdownLast 
      data-type = itemDataType)
      div(class = classDropdownTextLast)= itemText
      div(
        class = classDropdownMinusLast) - 
      div(
        class = classDropdownNumberLast 
        data-order = itemDataOrder)= itemNumber 
      div(class = classDropdownPlusLast) +