mixin dropdown-item({ itemDataType, itemText, itemDataOrder, itemNumber = 0, itemClass = '' })
  - const modificationLast = 'last';

    const elementDropdown = 'dropdown-item';
    const classDropdown = `${ elementDropdown } js-${ elementDropdown }`
    const classDropdownLast = `${ elementDropdown } js-${ elementDropdown } ${ elementDropdown }_${ modificatorLast }`

    const elementDropdownMinus = 'dropdown-item__minus';
    const classDropdownMinus = `${ elementDropdownMinus } js-${ elementDropdownMinus }`
    const classDropdownMinusLast = `${ elementDropdownMinus } js-${ elementDropdownMinus } ${ elementDropdownMinus }_${ modificatorLast }`

    const elementDropdownPlus = 'dropdown-item__plus';
    const classDropdownPlus = `${ elementDropdownPlus } js-${ elementDropdownPlus }`;
    const classDropdownPlusLast = `${ elementDropdownPlus } js-${ elementDropdownPlus } ${ elementDropdownPlus }_${ modificatorLast }`;

    const elementDropdownNumber = 'dropdown-item__number';
    const classDropdownNumber = `${ elementDropdownNumber } js-${ elementDropdownNumber }`;
    const classDropdownNumberLast = `${ elementDropdownNumber } js-${ elementDropdownNumber } ${ elementDropdownNumber }_${ modificatorLast }`;

    const elementDropdownText = 'dropdown-item__text';
    const classDropdownText = `${ elementDropdownText } js-${ elementDropdownText }`;
    const classDropdownTextLast = `${ elementDropdownText } js-${ elementDropdownText } ${ elementDropdownText }_${ modificatorLast }`;
  
  if itemClass === ''
    div(
      class = classDropdown 
      data-type = itemDataType)
      div(class = elementDropdownText)= itemText
      div(class = classDropdownMinus) - 
      div(class = classDropdownNumber data-order = itemDataOrder)
        != itemNumber
      div(class = classDropdownPlus) +
  else
    div(
      class = classDropdownLast 
      data-type = itemDataType)
      div(class = classDropdownTextLast)= itemText
      div(
        class = classDropdownMinusLast) - 
      div(
        class = classDropdownNumberLast 
        data-order = itemDataOrder)= itemNumber 
      div(class = classDropdownPlusLast) +