mixin dropdownGuestsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        .label!= labelText
        .label_right!= labelRightText
        +dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)

mixin dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='' id=inputId)
        div(class="dropdown__guests " + dropdownClassShow)
            +dropdownItem("grownups", "Взрослые", 0)
            +dropdownItem("kids", "Дети", 1)
            +dropdownItem("infants", "Младенцы", 2)
            .dropdown__buttons
                button.dropdown__button_submit.button__show(type='submit') Применить
                button.dropdown__button_reset(type='reset') Очистить




mixin dropdownRoomsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        label!= labelText
        span(class="label_right")= labelRightText
        +dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)


mixin dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='' value='' id=inputId)
        div(class="dropdown__rooms " + dropdownClassShow)
            +dropdownItem("bedrooms", "Спальни", 0)
            +dropdownItem("beds", "Кровати", 1)
            +dropdownItem("bathrooms", "Ванные комнаты", 2)




mixin dropdownItem (itemDataType, itemText, itemDataOrder)
    .dropdown__expandedItem(data-type=itemDataType)
        .dropdown__text!= itemText
        .dropdown__minus  - 
        .dropdown__number(data-order=itemDataOrder)  0 
        .dropdown__plus  +