mixin dropdownGuestsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        .label!= labelText
        .label_right!= labelRightText
        +dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)

//-example: 
//- pug: +dropdownGuestsLabeled("dropdown", "", "dropdown_guests_0", "", "dropdownGuestsInput_0")
//- js: let guestsHandler_0 = new DropdownGuests("dropdown_guests_0", ".dropdown__guests", someGuestsData);

mixin dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        div(class="dropdown__guests " + dropdownClassShow)
            +dropdownItem("grownups", "Взрослые", 0)
            +dropdownItem("kids", "Дети", 1)
            +dropdownItem("infants", "Младенцы", 2)
            .dropdown__buttons
                button.dropdown__button_submit.button__show(type='submit') Применить
                button.dropdown__button_reset(type='reset') Очистить
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' name="guests" value='' id=inputId)




mixin dropdownRoomsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        .label!= labelText
        span(class="label_right")= labelRightText
        +dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)


mixin dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        div(class="dropdown__rooms " + dropdownClassShow)
            +dropdownItem("bedrooms", "Спальни", 0)
            +dropdownItem("beds", "Кровати", 1)
            +dropdownItem("bathrooms", "Ванные комнаты", 2)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='' value='' name="rooms" id=inputId)




mixin dropdownItem (itemDataType, itemText, itemDataOrder)
    .dropdown__expandedItem(data-type=itemDataType)
        .dropdown__text!= itemText
        .dropdown__minus.button_disabled - 
        .dropdown__number(data-order=itemDataOrder)  0 
        .dropdown__plus  +