mixin dropdownGuestsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        .label!= labelText
        .label_right!= labelRightText
        +dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)

mixin dropdownGuestsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='' id=inputId)
        div(class="dropdown__guests " + dropdownClassShow)
            +dropdownItem("grownups", "Взрослые", 0)
            +dropdownItem("kids", "Дети", 1)
            +dropdownItem("infants", "Младенцы", 2)
            .dropdown__buttons
                button.dropdown__button_submit.button__show(type='submit') Применить
                button.dropdown__button_reset(type='reset') Очистить

//- option 2 for dropdownGuestsLabeled

    mixin dropdownGuestsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    - var items = [{dataType: "grownups", itemText: "Взрослые", itemDataOrder: 0}, {dataType: "kids", itemText: "Дети", itemDataOrder: 1}, {dataType: "infants", itemText: "Младенцы", itemDataOrder: 2}]
    
    .widget
        .label!= labelText
        .label_right!= labelRightText
        div(class="dropdown" id=dropdownContainerId)
            .dropdown__info
                input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='' id=inputId)
            div(class="dropdown__guests " + dropdownClassShow)
                for item in items
                    +dropdownItem(item.dataType, item.itemText, item.itemDataOrder)
                .dropdown__buttons
                    button.dropdown__button_submit.button__show(type='submit') Применить
                    button.dropdown__button_reset(type='reset') Очистить


mixin dropdownRoomsLabeled(labelText, labelRightText, dropdownContainerId, dropdownClassShow, inputId)
    .widget
        label!= labelText
        span(class="label_right")= labelRightText
        +dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)

mixin dropdownRoomsItems(dropdownContainerId, dropdownClassShow, inputId)
    div(class="dropdown" id=dropdownContainerId)
        .dropdown__info
            input.dropdown__input(readonly='' type='text' placeholder='' value='' id=inputId)
        div(class="dropdown__rooms " + dropdownClassShow)
            +dropdownItem("bedrooms", "Спальни", 0)
            +dropdownItem("beds", "Кровати", 1)
            +dropdownItem("bathrooms", "Ванные комнаты", 2)



mixin dropdownItem (itemDataType, itemText, itemDataOrder)
    .dropdown__expandedItem(data-type=itemDataType)
        .dropdown__text!= itemText
        .dropdown__minus  - 
        .dropdown__number(data-order=itemDataOrder)  0 
        .dropdown__plus  +


//-.widget
    label(for="guests").label Dropdown
    .dropdown__button
        input(type="text" id="guests" value="" 
            name="guests" placeholder="Сколько гостей" readonly)

//- widget
//-     #dropdown_guests_1.dropdown
//-         .dropdown__info
//-         input.dropdown__input(readonly='' type='text' placeholder='Сколько гостей' value='')
//-         .dropdown__guests
//-         .dropdown__expandedItem(data-guesttype='grownups')
//-             .dropdown__text Взрослые
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='0')  0 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-guesttype='kids')
//-             .dropdown__text Дети
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='1')  1 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-guesttype='infants')
//-             .dropdown__text Младенцы
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='2')  2 
//-             .dropdown__plus  + 
//-         .dropdown__buttons
//-             button.dropdown__button.button__show(type='submit') Применить
//-             button.dropdown__button(type='reset') Очистить



//- widget
//-     #dropdown_rooms_1.dropdown
//-         .dropdown__info
//-             input.dropdown__input(readonly='' type='text' placeholder='' value='')
//-         .dropdown__rooms
//-         .dropdown__expandedItem(data-type='bedrooms')
//-             .dropdown__text Спальни
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='0')  0 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-type='beds')
//-             .dropdown__text Кровати
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='1')  1 
//-             .dropdown__plus  + 
//-         .dropdown__expandedItem(data-type='bathrooms')
//-             .dropdown__text Ванные комнаты
//-             .dropdown__minus  - 
//-             .dropdown__number(data-order='2')  2 
//-             .dropdown__plus  + 